.dashboard {
  h2 {
    font-weight: 700;
  }
  .dashcontainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    .cardcontainer {
      position: relative;
      .card {
        width: 90%;
        height: 250px;
        background: linear-gradient(#fc85a2, #f9a0a4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: stretch;
        color: #fff;
        border-radius: 15px;
        position: relative;
        flex-wrap: wrap;
        box-shadow: 0px 8px 20px #555;
        transition: box-shadow 0.3s;
        margin-bottom: 80px;
        &:hover {
          box-shadow: 0px 8px 10px #555;
        }
        p {
          margin-left: 20px;
        }
        .balance {
          font-size: 4em;
          margin-left: 20px;
          &.red {
            color: #fc3d53;
          }
          .currency {
            font-size: 0.5em;
            margin-right: 10px;
          }
        }
        .name {
          margin-left: 20px;
          justify-self: flex-end;
        }
        .masterdots {
          position: absolute;
          bottom: 50px;
          right: 100px;
        }
        .masterdots::after {
          content: "";
          width: 30px;
          height: 30px;
          background: #fec156;
          position: absolute;
          border-radius: 50%;
        }
        .masterdots::before {
          content: "";
          width: 30px;
          height: 30px;
          background: #fc3d53;
          position: absolute;
          border-radius: 50%;
          transform: translateX(-70%);
        }
      }
      .card::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 50px;
        background: linear-gradient(#49313f, #6a4f5e);
        right: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
    .recent {
      margin-top: 20px;
      background: #fff;
      box-sizing: border-box;
      color: #999;
      font-size: 0.8em;
      padding: 20px;
      border-radius: 15px;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      box-shadow: 0px 8px 10px #555;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0px 8px 5px #555;
      }
      .red {
        color: #fc3d53;
        font-size: 1.3em;
        padding-bottom: 10px;
      }
      .clear {
        font-size: 1.3em;
        padding-bottom: 10px;
        color: #34dd43;
      }
    }
    .overviewcontainer {
      h2 {
        color: #020b1e;
        font-size: 1em;
      }
      color: #fff;
      position: relative;
      div {
        margin-top: 90px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-transform: capitalize;
        &:hover {
          z-index: 200;
        }
        p,
        a {
          text-align: center;
        }

        p:last-of-type {
          font-size: 2em;
          span {
            font-size: 0.7em;
          }
        }
      }
      .one,
      .two,
      .three,
      .more {
        transition: transform 0.3s;
        p:first-of-type {
          letter-spacing: 2px;
        }
      }
      .one:hover,
      .two:hover,
      .three:hover,
      .more:hover {
        transform: scale(1.1);
      }
      .one {
        width: 250px;
        height: 250px;
        position: absolute;
        left: 40px;
        top: 0;
        background-position: center;
        z-index: 1;
        background: linear-gradient(200deg, #7647e8, #6884f0);
      }
      .two {
        width: 200px;
        height: 200px;
        position: absolute;
        background-position: center;
        top: 210px;
        background: linear-gradient(200deg, #fb376f, #f6865b);
      }
      .three {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 200px;
        left: 170px;
        background-position: center;
        background: linear-gradient(200deg, #4080de, #37c2e0);
      }
      .more {
        width: 80px;
        height: 80px;
        color: #020b1e;
        background: #fff;
        position: absolute;
        top: 150px;
        left: 250px;
        z-index: 2;
        a {
          color: #020b1e;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}
